a{
    text-decoration: none;
}

.signIn
{
    cursor: pointer;
    color: #fff;
    padding: 9px 15px;
    min-width: 80px;
    margin-left: 8px;
    background: #1a73e8;
    border: 1px solid transparent;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

.dots
{
    padding: 8px;
    display: inline-block;
    outline: none;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.blackRef
{
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    color: rgba(0,0,0,0.87);
    text-decoration: none;

}

.header4
{
    font-family: arial,sans-serif;
    line-height: normal;
    padding-right: 15px;
}

.header3
{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 48px;
    line-height: normal;
    padding: 0 4px;
    padding-left: 30px;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    height: 48px;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.header1
{
    display: inline-block;
    flex-grow: 1;
}

.header2
{
    min-width: initial;
    min-width: auto;
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
    z-index: 986;
    height: 48px;
    color: black;
    min-width: 320px;
    position: relative;
    -webkit-transition: box-shadow 250ms;
    transition: box-shadow 250ms;
}

.header
{
    display: flex;
    align-items: center;
    padding: 6px;
    height: 60px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.logo
{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}

.logoContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 220px;
    max-height: 290px;
    height: calc(100% - 560px);
}

.logoContainer1
{
    max-height: 92px;
    position: relative;
    height: 100%;
    margin-top: auto;
}

.search
{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: 5px;
    height: 34px;
    font-size: 16px;
}

.loop
{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 24px;
    
}

.microfon{
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

.inputarea
{
    background: #FFFFFF;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    width: 482px;
    width: auto;
    flex: 1;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}

div{
    display: block;
}

body,input,button
{
    font-size: 14px;
    font-family: arial,sans-serif;
    color:#222;
}

.subdiv1
{
    width: auto;
    max-width: 584px;
    position: relative;
    margin: auto;
    padding-top: 6px;
}

.micdiv
{
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    line-height: 44px;
}

.loopdiv
{
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

.loopdiv1
{
    margin: auto;
}

.loopspan
{
    margin-top: 3px;
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}

.searchBtn 
{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.searchLuckyBtn
{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.footerDiv
{display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.romania
{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

.footerMain
{
    
    background: #f2f2f2;
    flex-shrink: 0;
    box-sizing: border-box;
}

.footerDiv1
{
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0 20px;
}

.footer
{
    color: #70757a;
    height: 15px;
    display: inline-block;
    padding: 15px;
    white-space: nowrap;

}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

.subsearch
{
    padding-top: 18px;
    top: 53px;
    z-index: 0;
}

.offers
{
    color: #3c4043;
    line-height: 50px;
}